// SPDX-License-Identifier: GPL-2.0+

#include "rk356x-u-boot.dtsi"

/ {
	chosen {
#if defined(CONFIG_DEBUG_UART_BASE) && (CONFIG_DEBUG_UART_BASE == 0xfe660000)
		stdout-path = &uart2;
#elif defined(CONFIG_DEBUG_UART_BASE) && (CONFIG_DEBUG_UART_BASE == 0xfe690000)
		stdout-path = &uart5;
#elif defined(CONFIG_DEBUG_UART_BASE) && (CONFIG_DEBUG_UART_BASE == 0xfe6d0000)
		stdout-path = &uart9;
#endif
	};
};

&pcie2x1 {
	pinctrl-0 = <&pcie20m2_pins &pcie_reset_h>;
};

&sdhci {
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe>;
};

&sfc {
	bootph-pre-ram;
	u-boot,spl-sfc-no-dma;

	flash@0 {
		bootph-pre-ram;
	};
};

&uart2 {
	bootph-all;
	clock-frequency = <24000000>;
	status = "okay";
};

#if defined(CONFIG_DEBUG_UART_BASE) && (CONFIG_DEBUG_UART_BASE == 0xfe690000)
/*
 * uart5_m1 is exposed on PI40
 * pin 32 - uart5_tx_m1
 * pin 33 - uart5_rx_m1
 */
&uart5m1_xfer {
	bootph-all;
};
&uart5 {
	bootph-all;
	clock-frequency = <24000000>;
	pinctrl-0 = <&uart5m1_xfer>;
	status = "okay";
};
#elif defined(CONFIG_DEBUG_UART_BASE) && (CONFIG_DEBUG_UART_BASE == 0xfe6d0000)
/*
 * uart9_m1 is exposed on PI40
 * pin 21 - uart9_tx_m1
 * pin 24 - uart9_rx_m1
 */
&uart9m1_xfer {
	bootph-all;
};
&uart9 {
	bootph-all;
	clock-frequency = <24000000>;
	pinctrl-0 = <&uart9m1_xfer>;
	status = "okay";
};
#endif

&usb_host0_xhci {
	dr_mode = "host";
};

&vcc5v0_usb_otg {
	/delete-property/ regulator-always-on;
};
